* text=auto !eol
cs160/hw1/MANIFEST.MF -text
cs160/hw1/Overview.txt -text
cs160/hw1/build.xml -text
cs160/hw1/clean.sh -text
cs160/hw1/cscie160/hw1/Elevator.java -text
cs160/hw1/hw1.jpg -text
cs160/hw1/hw1.pdf -text
cs160/hw1/output.txt -text
cs160/hw2/MANIFEST.MF -text
cs160/hw2/Overview.txt -text
cs160/hw2/build.xml -text
cs160/hw2/clean.sh -text
cs160/hw2/cscie160/hw2/Elevator.java -text
cs160/hw2/cscie160/hw2/ElevatorFullException.java -text
cs160/hw2/cscie160/hw2/Floor.java -text
cs160/hw2/cscie160/hw2/go -text
cs160/hw2/output.txt -text
cs160/hw3/MANIFEST.MF -text
cs160/hw3/Overview.txt -text
cs160/hw3/build.xml -text
cs160/hw3/clean.sh -text
cs160/hw3/cscie160/hw3/Elevator.java -text
cs160/hw3/cscie160/hw3/ElevatorFullException.java -text
cs160/hw3/cscie160/hw3/Floor.java -text
cs160/hw3/cscie160/hw3/go -text
