* text=auto !eol
cs160/hw1/MANIFEST.MF -text
cs160/hw1/Overview.txt -text
cs160/hw1/build.xml -text
cs160/hw1/clean.sh -text
cs160/hw1/cscie160/hw1/Elevator.java -text
cs160/hw1/hw1.jpg -text
cs160/hw1/hw1.pdf -text
cs160/hw1/output.txt -text
cs160/hw2/MANIFEST.MF -text
cs160/hw2/Overview.txt -text
cs160/hw2/build.xml -text
cs160/hw2/clean.sh -text
cs160/hw2/cscie160/hw2/Elevator.java -text
cs160/hw2/cscie160/hw2/ElevatorFullException.java -text
cs160/hw2/cscie160/hw2/Floor.java -text
cs160/hw2/cscie160/hw2/go -text
cs160/hw2/output.txt -text
cs160/hw3/MANIFEST.MF -text
cs160/hw3/Overview.txt -text
cs160/hw3/build.xml -text
cs160/hw3/clean.sh -text
cs160/hw3/cscie160/hw3/Elevator.java -text
cs160/hw3/cscie160/hw3/ElevatorFullException.java -text
cs160/hw3/cscie160/hw3/Floor.java -text
cs160/hw3/cscie160/hw3/Passenger.java -text
cs160/hw3/cscie160/hw3/go -text
cs160/hw3/output.txt -text
cs160/hw4/Overview.txt -text
cs160/hw4/build.xml -text
cs160/hw4/cscie160/hw4/ATM.java -text
cs160/hw4/cscie160/hw4/ATMException.java -text
cs160/hw4/cscie160/hw4/ATMImplementation.java -text
cs160/hw4/cscie160/hw4/ATMProxy.java -text
cs160/hw4/cscie160/hw4/Account.java -text
cs160/hw4/cscie160/hw4/Client.java -text
cs160/hw4/cscie160/hw4/Commands.java -text
cs160/hw4/cscie160/hw4/Server.java -text
cs160/hw4/cscie160/hw4/cli -text
cs160/hw4/cscie160/hw4/serv -text
cs160/hw4/output.txt -text
cs160/hw4/test/EchoClient.java -text
cs160/hw4/test/EchoServer.java -text
cs160/hw4/test/SocketTest.java -text
cs160/hw5/Overview.txt -text
cs160/hw5/build.xml -text
cs160/hw5/cscie160/hw5/ATM.java -text
cs160/hw5/cscie160/hw5/ATMException.java -text
cs160/hw5/cscie160/hw5/ATMFactory.java -text
cs160/hw5/cscie160/hw5/ATMFactoryImpl.java -text
cs160/hw5/cscie160/hw5/ATMImpl.java -text
cs160/hw5/cscie160/hw5/Account.java -text
cs160/hw5/cscie160/hw5/Client.java -text
cs160/hw5/cscie160/hw5/Server.java -text
cs160/hw5/output.txt -text
cs160/hw6/Overview.txt -text
cs160/hw6/build.xml -text
cs160/hw6/cscie160/hw6/ATM.java -text
cs160/hw6/cscie160/hw6/ATMException.java -text
cs160/hw6/cscie160/hw6/ATMImplementation.java -text
cs160/hw6/cscie160/hw6/ATMProxy.java -text
cs160/hw6/cscie160/hw6/ATMRunnable.java -text
cs160/hw6/cscie160/hw6/ATMThread.java -text
cs160/hw6/cscie160/hw6/Account.java -text
cs160/hw6/cscie160/hw6/Client.java -text
cs160/hw6/cscie160/hw6/Commands.java -text
cs160/hw6/cscie160/hw6/Server.java -text
cs160/hw6/cscie160/hw6/cli -text
cs160/hw6/cscie160/hw6/serv -text
cs160/hw6/output.txt -text
cs160/hw7_final_project/Overview.txt -text
cs160/hw7_final_project/build.xml -text
cs160/hw7_final_project/cscie160/project/ATM.java -text
cs160/hw7_final_project/cscie160/project/ATMException.java -text
cs160/hw7_final_project/cscie160/project/ATMFactory.java -text
cs160/hw7_final_project/cscie160/project/ATMFactoryImpl.java -text
cs160/hw7_final_project/cscie160/project/ATMImpl.java -text
cs160/hw7_final_project/cscie160/project/ATMListener.java -text
cs160/hw7_final_project/cscie160/project/ATMServer.java -text
cs160/hw7_final_project/cscie160/project/Account.java -text
cs160/hw7_final_project/cscie160/project/AccountImpl.java -text
cs160/hw7_final_project/cscie160/project/AccountInfo.java -text
cs160/hw7_final_project/cscie160/project/Bank.java -text
cs160/hw7_final_project/cscie160/project/BankImpl.java -text
cs160/hw7_final_project/cscie160/project/BankServer.java -text
cs160/hw7_final_project/cscie160/project/Client.java -text
cs160/hw7_final_project/cscie160/project/Client2.java -text
cs160/hw7_final_project/cscie160/project/NSFException.java -text
cs160/hw7_final_project/cscie160/project/Security.java -text
cs160/hw7_final_project/cscie160/project/SecurityException.java -text
cs160/hw7_final_project/cscie160/project/SecurityImpl.java -text
cs160/hw7_final_project/cscie160/project/TransactionNotification.java -text
cs160/hw7_final_project/cscie160/project/securityProfile.java -text
cs160/hw7_final_project/output.txt -text
cs295/hw1/Makefile -text
cs295/hw1/README.txt -text
cs295/hw1/e95_scanner.c -text
cs295/hw1/e95_tokens.c -text
cs295/hw1/e95_tokens.h -text
cs295/hw1/flex_scanner.l -text
cs295/hw1/test.sh -text
cs295/hw2/Makefile -text
cs295/hw2/README.txt -text
cs295/hw2/bison_parser.y -text
cs295/hw2/calc/Makefile -text
cs295/hw2/calc/bison_parser.y -text
cs295/hw2/calc/calc_scanner.c -text
cs295/hw2/calc/calc_tokens.c -text
cs295/hw2/calc/calc_tokens.h -text
cs295/hw2/calc/flex_scanner.l -text
cs295/hw2/calc2/Makefile -text
cs295/hw2/calc2/bison_parser.y -text
cs295/hw2/calc2/calc_scanner.c -text
cs295/hw2/calc2/calc_tokens.c -text
cs295/hw2/calc2/calc_tokens.h -text
cs295/hw2/calc2/flex_scanner.l -text
cs295/hw2/calc2/parser_support.c -text
cs295/hw2/calc2/parser_support.h -text
cs295/hw2/e95_parser.c -text
cs295/hw2/e95_scanner.c -text
cs295/hw2/e95_tokens.c -text
cs295/hw2/e95_tokens.h -text
cs295/hw2/flex_scanner.l -text
cs295/hw2/gdb.cmd -text
cs295/hw2/parser_support.c -text
cs295/hw2/parser_support.h -text
cs295/hw2/test.sh -text
cs295/hw3.plus/Makefile -text
cs295/hw3.plus/README.txt -text
cs295/hw3.plus/bison_parser.y -text
cs295/hw3.plus/e95_parser.c -text
cs295/hw3.plus/e95_parser.h -text
cs295/hw3.plus/e95_scanner.c -text
cs295/hw3.plus/e95_tokens.c -text
cs295/hw3.plus/e95_tokens.h -text
cs295/hw3.plus/flex_scanner.l -text
cs295/hw3.plus/gdb.cmd -text
cs295/hw3.plus/symbol_table.c -text
cs295/hw3.plus/symbol_table.h -text
cs295/hw3.plus/test.sh -text
cs295/hw3.plus/test/book_example/Makefile -text
cs295/hw3.plus/test/book_example/flex_scanner.l -text
cs295/hw3/Makefile -text
cs295/hw3/README.txt -text
cs295/hw3/bison_parser.y -text
cs295/hw3/e95_parser.c -text
cs295/hw3/e95_parser.h -text
cs295/hw3/e95_scanner.c -text
cs295/hw3/e95_tokens.c -text
cs295/hw3/e95_tokens.h -text
cs295/hw3/flex_scanner.l -text
cs295/hw3/gdb.cmd -text
cs295/hw3/symbol_table.c -text
cs295/hw3/symbol_table.h -text
cs295/hw3/test.sh -text
cs295/hw3/test/book_example/Makefile -text
cs295/hw3/test/book_example/flex_scanner.l -text
cs295/hw4/Makefile -text
cs295/hw4/README.txt -text
cs295/hw4/bison_parser.y -text
cs295/hw4/compiler_tests/01_if_statement_test/Makefile -text
cs295/hw4/compiler_tests/01_if_statement_test/if_test.c -text
cs295/hw4/compiler_tests/02_if_then_else_test/Makefile -text
cs295/hw4/compiler_tests/02_if_then_else_test/if_then_else.c -text
cs295/hw4/compiler_tests/03_while_test/Makefile -text
cs295/hw4/compiler_tests/03_while_test/while_test.c -text
cs295/hw4/compiler_tests/04_recursive_calls/Makefile -text
cs295/hw4/compiler_tests/04_recursive_calls/recursion.c -text
cs295/hw4/compiler_tests/05_fibonacci/Makefile -text
cs295/hw4/compiler_tests/05_fibonacci/fibonacci.c -text
cs295/hw4/compiler_tests/06_prime_numbers/Makefile -text
cs295/hw4/compiler_tests/06_prime_numbers/prime_number.c -text
cs295/hw4/e95_parser.c -text
cs295/hw4/e95_parser.h -text
cs295/hw4/e95_scanner.c -text
cs295/hw4/e95_tokens.c -text
cs295/hw4/e95_tokens.h -text
cs295/hw4/flex_scanner.l -text
cs295/hw4/gdb.cmd -text
cs295/hw4/ir_generator.c -text
cs295/hw4/ir_generator.h -text
cs295/hw4/mips_generator.c -text
cs295/hw4/mips_generator.h -text
cs295/hw4/spim_src/CPU/data.c -text
cs295/hw4/spim_src/CPU/data.h -text
cs295/hw4/spim_src/CPU/display-utils.c -text
cs295/hw4/spim_src/CPU/dump_ops.c -text
cs295/hw4/spim_src/CPU/exceptions.s -text
cs295/hw4/spim_src/CPU/inst.c -text
cs295/hw4/spim_src/CPU/inst.h -text
cs295/hw4/spim_src/CPU/mem.c -text
cs295/hw4/spim_src/CPU/mem.h -text
cs295/hw4/spim_src/CPU/op.h -text
cs295/hw4/spim_src/CPU/parser.h -text
cs295/hw4/spim_src/CPU/parser.y -text
cs295/hw4/spim_src/CPU/reg.h -text
cs295/hw4/spim_src/CPU/run.c -text
cs295/hw4/spim_src/CPU/run.h -text
cs295/hw4/spim_src/CPU/scanner.h -text
cs295/hw4/spim_src/CPU/scanner.l -text
cs295/hw4/spim_src/CPU/spim-syscall.h -text
cs295/hw4/spim_src/CPU/spim-utils.c -text
cs295/hw4/spim_src/CPU/spim-utils.h -text
cs295/hw4/spim_src/CPU/spim.h -text
cs295/hw4/spim_src/CPU/string-stream.c -text
cs295/hw4/spim_src/CPU/string-stream.h -text
cs295/hw4/spim_src/CPU/sym-tbl.c -text
cs295/hw4/spim_src/CPU/sym-tbl.h -text
cs295/hw4/spim_src/CPU/syscall.c -text
cs295/hw4/spim_src/CPU/syscall.h -text
cs295/hw4/spim_src/CPU/version.h -text
cs295/hw4/spim_src/ChangeLog -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/FIg7_1.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig10_1.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig10_2.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig1_1.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig1_6.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig2_1.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig3_1.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig5_1.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig6_2.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig6_3.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig6_3a.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig7_2.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/Fig8_1.jpg -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/HP_AppA.html -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/HP_AppA.pdf -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/New[!!-~]Figures.vsd -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/PCSpim.pdf -text svneol=unset#unset
cs295/hw4/spim_src/Documentation/H_P_AppendixA/SPIM_command-line.pdf -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/pcspim.bmp -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/spim.pdf -text
cs295/hw4/spim_src/Documentation/H_P_AppendixA/xspim.pdf -text svneol=unset#unset
cs295/hw4/spim_src/Documentation/SPIM-cs.wisc.edu.html -text
cs295/hw4/spim_src/Documentation/SourceForge/HP_AppA.pdf -text
cs295/hw4/spim_src/Documentation/SourceForge/PCSpim.pdf -text svneol=unset#unset
cs295/hw4/spim_src/Documentation/SourceForge/QtSpim_Help_Snapshot.JPG -text
cs295/hw4/spim_src/Documentation/SourceForge/QtSpim_Snapshot.JPG -text
cs295/hw4/spim_src/Documentation/SourceForge/SPIM_command-line.pdf -text
cs295/hw4/spim_src/Documentation/SourceForge/changes.html -text
cs295/hw4/spim_src/Documentation/SourceForge/further.html -text
cs295/hw4/spim_src/Documentation/SourceForge/index.html -text
cs295/hw4/spim_src/Documentation/SourceForge/older.html -text
cs295/hw4/spim_src/Documentation/SourceForge/readme.txt -text
cs295/hw4/spim_src/Documentation/SourceForge/spim.pdf -text
cs295/hw4/spim_src/Documentation/SourceForge/style.css -text
cs295/hw4/spim_src/Documentation/SourceForge/xspim.pdf -text svneol=unset#unset
cs295/hw4/spim_src/Documentation/TeX/blurb.tex -text
cs295/hw4/spim_src/Documentation/TeX/cause_reg.id -text
cs295/hw4/spim_src/Documentation/TeX/cycle.ps -text
cs295/hw4/spim_src/Documentation/TeX/io_reg.id -text
cs295/hw4/spim_src/Documentation/TeX/mem.id -text
cs295/hw4/spim_src/Documentation/TeX/mips.id -text
cs295/hw4/spim_src/Documentation/TeX/spim.ps -text
cs295/hw4/spim_src/Documentation/TeX/spim.tex -text
cs295/hw4/spim_src/Documentation/TeX/stack-frame.id -text
cs295/hw4/spim_src/Documentation/TeX/status_reg.id -text
cs295/hw4/spim_src/Documentation/TeX/xinterface.id -text
cs295/hw4/spim_src/Documentation/qtspim.man -text
cs295/hw4/spim_src/Documentation/spim.man -text
cs295/hw4/spim_src/Documentation/xspim.man -text
cs295/hw4/spim_src/README -text
cs295/hw4/spim_src/README.rtf -text
cs295/hw4/spim_src/Tests/read.s -text
cs295/hw4/spim_src/Tests/time.s -text
cs295/hw4/spim_src/Tests/timer.s -text
cs295/hw4/spim_src/Tests/tt.alu.bare.s -text
cs295/hw4/spim_src/Tests/tt.bare.s -text
cs295/hw4/spim_src/Tests/tt.be.s -text
cs295/hw4/spim_src/Tests/tt.core.s -text
cs295/hw4/spim_src/Tests/tt.fpu.bare.s -text
cs295/hw4/spim_src/Tests/tt.in -text
cs295/hw4/spim_src/Tests/tt.io.s -text
cs295/hw4/spim_src/Tests/tt.le.s -text
cs295/hw4/spim_src/bin/release-debian -text
cs295/hw4/spim_src/bin/release-qtspim -text
cs295/hw4/spim_src/bin/release-spim -text
cs295/hw4/spim_src/helloworld.s -text
cs295/hw4/spim_src/spim/Makefile -text
cs295/hw4/spim_src/spim/README -text
cs295/hw4/spim_src/spim/spim.c -text
cs295/hw4/spim_src/xspim/Imakefile -text
cs295/hw4/spim_src/xspim/Makefile -text
cs295/hw4/spim_src/xspim/README -text
cs295/hw4/spim_src/xspim/buttons.c -text
cs295/hw4/spim_src/xspim/buttons.h -text
cs295/hw4/spim_src/xspim/windows.c -text
cs295/hw4/spim_src/xspim/windows.h -text
cs295/hw4/spim_src/xspim/xspim.c -text
cs295/hw4/spim_src/xspim/xspim.h -text
cs295/hw4/symbol_table.c -text
cs295/hw4/symbol_table.h -text
