* text=auto !eol
cs160/hw1/MANIFEST.MF -text
cs160/hw1/Overview.txt -text
cs160/hw1/build.xml -text
cs160/hw1/clean.sh -text
cs160/hw1/cscie160/hw1/Elevator.java -text
cs160/hw1/hw1.jpg -text
cs160/hw1/hw1.pdf -text
cs160/hw1/output.txt -text
cs160/hw2/MANIFEST.MF -text
cs160/hw2/Overview.txt -text
cs160/hw2/build.xml -text
cs160/hw2/clean.sh -text
cs160/hw2/cscie160/hw2/Elevator.java -text
cs160/hw2/cscie160/hw2/ElevatorFullException.java -text
cs160/hw2/cscie160/hw2/Floor.java -text
cs160/hw2/cscie160/hw2/go -text
cs160/hw2/output.txt -text
cs160/hw3/MANIFEST.MF -text
cs160/hw3/Overview.txt -text
cs160/hw3/build.xml -text
cs160/hw3/clean.sh -text
cs160/hw3/cscie160/hw3/Elevator.java -text
cs160/hw3/cscie160/hw3/ElevatorFullException.java -text
cs160/hw3/cscie160/hw3/Floor.java -text
cs160/hw3/cscie160/hw3/Passenger.java -text
cs160/hw3/cscie160/hw3/go -text
cs160/hw3/output.txt -text
cs160/hw4/Overview.txt -text
cs160/hw4/build.xml -text
cs160/hw4/cscie160/hw4/ATM.java -text
cs160/hw4/cscie160/hw4/ATMException.java -text
cs160/hw4/cscie160/hw4/ATMImplementation.java -text
cs160/hw4/cscie160/hw4/ATMProxy.java -text
cs160/hw4/cscie160/hw4/Account.java -text
cs160/hw4/cscie160/hw4/Client.java -text
cs160/hw4/cscie160/hw4/Commands.java -text
cs160/hw4/cscie160/hw4/Server.java -text
cs160/hw4/cscie160/hw4/cli -text
cs160/hw4/cscie160/hw4/serv -text
cs160/hw4/output.txt -text
cs160/hw4/test/EchoClient.java -text
cs160/hw4/test/EchoServer.java -text
cs160/hw4/test/SocketTest.java -text
cs160/hw5/Overview.txt -text
cs160/hw5/build.xml -text
cs160/hw5/cscie160/hw5/ATM.java -text
cs160/hw5/cscie160/hw5/ATMException.java -text
cs160/hw5/cscie160/hw5/ATMFactory.java -text
cs160/hw5/cscie160/hw5/ATMFactoryImpl.java -text
cs160/hw5/cscie160/hw5/ATMImpl.java -text
cs160/hw5/cscie160/hw5/Account.java -text
cs160/hw5/cscie160/hw5/Client.java -text
cs160/hw5/cscie160/hw5/Server.java -text
cs160/hw5/output.txt -text
cs160/hw6/Overview.txt -text
cs160/hw6/build.xml -text
cs160/hw6/cscie160/hw6/ATM.java -text
cs160/hw6/cscie160/hw6/ATMException.java -text
cs160/hw6/cscie160/hw6/ATMImplementation.java -text
cs160/hw6/cscie160/hw6/ATMProxy.java -text
cs160/hw6/cscie160/hw6/ATMRunnable.java -text
cs160/hw6/cscie160/hw6/ATMThread.java -text
cs160/hw6/cscie160/hw6/Account.java -text
cs160/hw6/cscie160/hw6/Client.java -text
cs160/hw6/cscie160/hw6/Commands.java -text
cs160/hw6/cscie160/hw6/Server.java -text
cs160/hw6/cscie160/hw6/cli -text
cs160/hw6/cscie160/hw6/serv -text
cs160/hw6/output.txt -text
cs160/hw7_final_project/Overview.txt -text
cs160/hw7_final_project/build.xml -text
cs160/hw7_final_project/cscie160/project/ATM.java -text
cs160/hw7_final_project/cscie160/project/ATMException.java -text
cs160/hw7_final_project/cscie160/project/ATMFactory.java -text
cs160/hw7_final_project/cscie160/project/ATMFactoryImpl.java -text
cs160/hw7_final_project/cscie160/project/ATMImpl.java -text
cs160/hw7_final_project/cscie160/project/ATMServer.java -text
cs160/hw7_final_project/cscie160/project/Account.java -text
cs160/hw7_final_project/cscie160/project/AccountImpl.java -text
cs160/hw7_final_project/cscie160/project/AccountInfo.java -text
cs160/hw7_final_project/cscie160/project/Bank.java -text
cs160/hw7_final_project/cscie160/project/BankImpl.java -text
cs160/hw7_final_project/cscie160/project/BankServer.java -text
cs160/hw7_final_project/cscie160/project/Client.java -text
cs160/hw7_final_project/cscie160/project/Security.java -text
cs160/hw7_final_project/cscie160/project/SecurityImpl.java -text
cs160/hw7_final_project/cscie160/project/securityProfile.java -text
cs160/hw7_final_project/output.txt -text
